body {
  margin: 0;
  font-family: 'Josefin Sans', 'Lato', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--sweet-pink, #FEDAFF); 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}


:root {
  --sweet-pink: #FEDAFF;
  --sweet-teal: #05AB97;
  --sweet-mint: #D6FEF9;
}

body {
  background: var(--sweet-pink);
}

.btn-primary {
  background: var(--sweet-teal);
  color: #fff;
}

.category-badge {
  background: var(--sweet-mint);
  color: var(--sweet-teal);
}
